<main>
  <h2>Tathy {{ league_name.title() }} League (Round | <a href="/{{ league_name }}/table">Table</a>)
  <img src="/static/loading.gif" alt="Loading..." style="width: 1%; height: auto;" /></h2>
  <table id="league-table"></table>
  <style>
    h2 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 20px;
    }
    a {
      color: inherit;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 20px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      text-align: center;
    }
    th, td {
      padding: 8px;
      border: 1px solid #ddd;
    }
    th {
      background-color: #4CAF50;
      color: white;
      width: auto;
    }
    td {
      width: auto;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    tr:nth-child(odd) {
      background-color: #e6f7ff;
    }
    tr:hover {
      background-color: #d9d9d9;
    }
    .greater-score {
      color: red;
    }
    .greater-score-team {
      font-weight: bold;
    }
  </style>
</main>
<script>
  function loadRoundData(round, league_name) {
    if (round !== "undefined") {
      url_to_fetch = `/api/${league_name}/week/${round}`;
      return fetch(url_to_fetch)
        .then(response => response.json())
        .then(data => {
          const table = document.createElement('table');
          data.forEach(row => {
            const tableRow = table.insertRow();
            const team1Cell = tableRow.insertCell();
            team1Cell.textContent = row[0];
            const team2Cell = tableRow.insertCell();
            team2Cell.textContent = row[1];
            const score1Cell = tableRow.insertCell();
            score1Cell.textContent = row[2];
            const score2Cell = tableRow.insertCell();
            score2Cell.textContent = row[3];
            if (row[2] - 2 > row[3]) {
              score1Cell.classList.add('greater-score');
              team1Cell.classList.add('greater-score-team');
            } else if (row[3] - 2 > row[2]) {
              score2Cell.classList.add('greater-score');
              team2Cell.classList.add('greater-score-team');
            }
          });
          return table;
        });
    }
  }

  function loadRound(round1, round2, league_name) {
    const container = document.createElement('tr');
    const td1 = document.createElement('td');
    const td2 = document.createElement('td');
    const roundHeader1 = document.createElement('h3');
    roundHeader1.textContent = `Round ${round1}`;
    const roundHeader2 = document.createElement('h3');
    td1.appendChild(roundHeader1);
    if (typeof round2 !== "undefined") {
      roundHeader2.textContent = `Round ${round2}`;
      td2.appendChild(roundHeader2);
    }
    loadRoundData(round1, league_name)
      .then(table => {
        td1.appendChild(table);
      });
    if (typeof round2 !== "undefined") {
      loadRoundData(round2, league_name)
        .then(table => {
          td2.appendChild(table);
        });
    } else {
      const emptyTable = document.createElement('table');
      td2.appendChild(emptyTable);
    }
    container.appendChild(td1);
    container.appendChild(td2);
    return container;
  }

  function loadRounds(league_name) {
    url_to_fetch = `/api/${league_name}/rounds`;
    fetch(url_to_fetch)
      .then(response => response.json())
      .then(rounds => {
        const tableContainer = document.getElementById('league-table');
        for (let i = 0; i < rounds.length; i += 2) {
          const round1 = rounds[i];
          const round2 = rounds[i + 1];
          const roundContainer = loadRound(round1, round2, league_name);
          tableContainer.appendChild(roundContainer);
        }
        const loadingImage = document.querySelector('img[src="/static/loading.gif"]');
        loadingImage.style.display = 'none';
      })
      .catch(error => console.error(error));
  }

  loadRounds('{{ league_name }}');
  
</script>