<main>
    <center>
        <h2>Tathy Winter League (<a href='/winter'>Round</a> | Table)</h2>
    </center>
    <style>
        h2 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
        }
        a {
        color: inherit;
        }
    </style>
    <table id="league-table"></table>
</main>
<script>
    const table = document.getElementById("league-table");
    fetch('/api/winter/table')
        .then(response => response.json())
        .then(data => {
            const columns = data[0];
            const rows = data.slice(1);
            const tableHeader = document.createElement("thead");
            const tableBody = document.createElement("tbody");
            const headerRow = document.createElement("tr");
            columns.forEach(column => {
                const th = document.createElement("th");
                th.textContent = column;
                headerRow.appendChild(th);
            });
            tableHeader.appendChild(headerRow);
            table.appendChild(tableHeader);
            table.appendChild(tableBody);
            rows.forEach((row, index) => {
                const tableRow = document.createElement("tr");
                row.forEach((cell, cellIndex) => {
                    const tableCell = document.createElement("td");
                    tableCell.textContent = cell;
                    tableRow.appendChild(tableCell);
                });
                if (index == 0) {
                    tableRow.style.backgroundColor = 'crimson';
                } else if (index == 1) {
                    tableRow.style.backgroundColor = 'salmon';
                } else if (index == 2) {
                    tableRow.style.backgroundColor = 'pink';
                }
                else {
                    tableRow.style.backgroundColor = "lightblue";
                }
                tableBody.appendChild(tableRow);
            });
        });
</script>
